<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/blog-styles.css">
  <script src="https://kit.fontawesome.com/751f3e5756.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="main-container">
    <header>
      <h1>BEARDO</h1>
      <nav class="wide-media">
        <a href="../index.html">HOME</a>
        <a href="./about.html">ABOUT</a>
        <a href="./gallery.html"">GALLERY</a>
        <a href="./blog.html">BLOG</a>
        <a href="./contact.html">CONTACT</a>
      </nav>
      <nav class="dropdown">
        <div class="dropbtn">
          <div class="btnline"></div>
          <div class="btnline"></div>
          <div class="btnline"></div>
        </div>
        <div class="dropdown-content">
          <a href="../index.html">HOME</a>
          <a href="./about.html">ABOUT</a>
          <a href="./gallery.html"">GALLERY</a>
          <a href="./blog.html">BLOG</a>
          <a href="./contact.html">CONTACT</a>
        </div>
      </nav>

    </header>
    <main>
      <h2>BLOG</h2>
      <div class="blog-container">
        <section class="blog-post">
          <img class="blog-pic" src="../images/Beard-10.jpg" alt="" onclick="goToBlogPost()">
          <section class="blog-text">
            <h3>BLOG TITLE</h3>
            <p>here's some stuff about the blog post, you can click the link below to read more</p>
            <a class="blog-link" href="./blog-single-post.html">READ THIS</a>
          </section>
        </section>
        <section class="blog-post">
          <img class="blog-pic" src="../images/Beard-11.jpg" alt="" onclick="goToBlogPost()">
          <section class="blog-text">
            <h3>BLOG TITLE</h3>
            <p>here's some stuff about the blog post, you can click the link below to read more</p>
            <a class="blog-link" href="./blog-single-post.html">READ THIS</a>
          </section>
        </section>
        <section class="blog-post">
          <img class="blog-pic" src="../images/Beard-12.jpg" alt="" onclick="goToBlogPost()">
          <section class="blog-text">
            <h3>BLOG TITLE</h3>
            <p>here's some stuff about the blog post, you can click the link below to read more</p>
            <a class="blog-link" href="./blog-single-post.html">READ THIS</a>
          </section>
        </section>

      </div>
      
    </main>
    <footer>
      <p>2023 by Beardo. All Rights Reserved</p>
      <section class="connections">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-pinterest-square"></i>
      </section>
    </footer>
  </div>
  <script src="../js/blog-js.js"></script>
</body>
</html>