<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/blog-styles.css">
  <script src="https://kit.fontawesome.com/751f3e5756.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div class="main-container">
    <header>
      <h1>BEARDO</h1>
      <nav class="wide-media">
        <a href="../index.html">HOME</a>
        <a href="./about.html">ABOUT</a>
        <a href="./gallery.html"">GALLERY</a>
        <a href="./blog.html">BLOG</a>
        <a href="./contact.html">CONTACT</a>
      </nav>
      <nav class="dropdown">
        <div class="dropbtn">
          <div class="btnline"></div>
          <div class="btnline"></div>
          <div class="btnline"></div>
        </div>
        <div class="dropdown-content">
          <a href="../index.html">HOME</a>
          <a href="./about.html">ABOUT</a>
          <a href="./gallery.html"">GALLERY</a>
          <a href="./blog.html">BLOG</a>
          <a href="./contact.html">CONTACT</a>
        </div>
      </nav>

    </header>
    <main>
      
    </main>
    <footer>
      <p>2023 by Beardo. All Rights Reserved</p>
      <section class="connections">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-pinterest-square"></i>
      </section>
    </footer>
  </div>
</body>
</html>